<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Components and Props</title>
  </head>
  <body>

    <div class="app">

      <!-- <comment
        v-for="(comment, index) in comments"
        :comment="comment"
        :key="index"
      ></comment> -->

      <comment v-for="(comment,index) in comments"
               :comment="comment"
               :key="index"
      >

      </comment>

    </div>

    <div class="trip">
      <h2>Trip Location Details:</h2>
      <trip
        v-for="(item,index) in trips"
        :trip="item"
        :key="index"
      >

      </trip>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
